.person-card {

    &:hover &__image {
        transform: scale(1.05);
    }

    &.active {
        .person-card__name {
            border-bottom: 1px solid $color-2;
        }
    }

    &__block-image {
        height: 490px;
        overflow: hidden;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform 0.5s;
    }

    &__block-info {
        display: grid;
        justify-content: start;
        margin-top: 24px;
    }

    &__name,
    &__post {
        @include adaptiv-font(20, 18);
        line-height: 1.5em;
    }

    &__name {
        color: $color-2;
    }

    &__post {
        color: $color-11;
    }
}