.project-card {
    position: relative;
    border-right: 1px solid $color-10;

    &:hover &__title,
    &:hover &__description,
    &:hover .link__name {
        color: $color-2;
    }

    &:hover &__block-bg {
        opacity: 1;
    }

    &:hover .link__icon use {
        fill: $color-2;
    }

    &:hover .link__name {
        opacity: 1;
        pointer-events: auto;
    }

    &:hover .link__icon {
        left: calc(100% + 8px);
    }

    &__block-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity $transition-time;

        &::after {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(26, 30, 35, 0.3));
        }
    }

    &__bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__wrapper-info {
        position: relative;
        display: grid;
        grid-template-rows: max-content auto;
        padding: 24px 68px;
        height: 434px;
    }

    &__block-info {
        display: grid;
        grid-row-gap: 12px;
        align-items: start;
    }

    &__title,
    &__description {
        transition: color $transition-time;
    }

    &__title {
        font-family: $secondary-font;
        @include adaptiv-font(23, 20);
        color: $color-3;
    }

    &__description {
        color: $main-color;
    }

    .link {
        margin-top: auto;
        width: max-content;

        &__name {
            transition: opacity 0.4s, color 0.4s;
        }

        &__icon use {
            transition: fill 0.4s;
        }
    }
}