.simple-slider {
    display: grid;
    grid-template-columns: minmax(10px, 1fr) 302px;
    height: 450px;

    &__slider {
        width: 100%;
        height: 100%;
    }

    &__block-content {
        position: relative;
        display: grid;
        align-items: end;
        justify-content: center;
        padding: 32px 0;
        background-color: $color-4;
    }

    &__wrapper-slider {
        position: relative;
    }

    &__block-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform 0.5s;
    }

    .title {
        position: relative;
        z-index: 2;
        color: $color-2;
    }

    .swiper-slide {
        position: relative;
        display: grid;
        align-items: center;
        justify-content: center;

        &--first-item {

            &:hover .simple-slider__image {
                transform: scale(1.05);
            }

            &::before {
                content: '';
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
            }
        }
    }

    .arrows-group {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 100%;
        transform: translateY(-50%);
    }

    .link {}
}