<section class="about-company">
    <div class="main-container max-width">
        <div class="about-company__block-info">
            <h3 class="title title--h3 title-reset">О компании</h3>
            <div class="about-company__block-description">
                <p>Мы занимаемся оснащением отелей и иных средств размещения.</p>
                <p>Мы разрабатываем дизайн проекты и планировочные решения для номеров любой категории.</p>
                <p>Каждый реализованный нами проект — это не просто воплощение идеи и красивой картинки, это симбиоз дизайна, эстетики, технологий, функциональности и комфорта.</p>
                <p>Наша глобальная миссия — это поднять качество туризма в России на новый уровень, за счёт продуманной и удобной комплектации отелей</p>
            </div>
            <a href="#" class="btn btn--size--sm btn--theme--primary">
                <span class="btn__text">Узнать больше</span>
            </a>
        </div>
        <div class="about-company__block-image">
            <img src="./assets/images/image-9.jpg" class="about-company__image" alt="">
        </div>
    </div>
</section>