<div class="article-card">
    <div class="article-card__block-image">
        <img src="./assets/images/image-2.jpg" class="article-card__image" alt="">
    </div>
    <div class="article-card__wrapper-info">
        <div class="article-card__block-info">
            <h4 class="title title--h4 title-reset">Что модно в ремонте в 2022 году?</h4>
            <span class="article-card__description-article">
                Задумались, как сделать свой дом наиболее комфортным, а помещения — функциональными. Читайте наш чек-лист по идеальной планировке и получите ответы на все вопросы.
            </span>
        </div>
        <a href="" class="btn btn--size--lg btn--theme--primary">
            <span class="btn__text">Читать статью</span>
        </a>
    </div>
</div>