<section class="article">
    <div class="main-container max-width">
        <div class="block-title">
            <div class="block-title__header wow animate__fadeIn" data-wow-duration="0.7s">
                <h2 class="title title--h2 title-reset">Блог</h2>
            </div>
            <div class="block-title__content">
                <a href="#" class="block-title__link link-reset wow animate__fadeIn" data-wow-duration="0.7s">
                    <svg class="block-title__link-icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#small-arrow-left"/>
                    </svg>
                    <span class="block-title__link-text">Назад</span>
                </a>
            </div>
        </div>
    </div>
    <div class="article__wrapper-article">
        <div class="main-container max-width">
            <h2 class="title title--h2 title-reset wow animate__fadeIn" data-wow-duration="0.7s">Что модно в ремонте в 2022 году?</h2>
        </div>
        <div class="article__banner wow animate__fadeIn" data-wow-duration="0.7s">
            <img src="./assets/images/image-14.jpg" class="article__banner-image" alt="">
        </div>
        <div class="article__wrapper-article-text">
            <div class="main-container max-width">
                <div class="article__block-article-text wow animate__fadeIn" data-wow-duration="0.7s">
                    <span>Дневное освещение</span>
                    <p>
                        Всегда приятно, когда есть возможность заниматься йогой в гостиной, залитой ранними лучами солнца. Либо приходить вечером с работы и ужинать, любуясь живописным закатом. Наличие большого обилия естественного света — это одно из самых главных правил удачной планировки. Ведь солнечные ванны оказывают огромное влияние на организм человека: восполняют витамин D, поднимают настроение и иммунитет.
                        Любителям большого количества света подойдёт квартира, где две стороны расположены на оси «запад — восток»Тогда в квартире будет светло весь день. При этом гостиную и детскую предпочтительно располагать на южной стороне.
                    </p>
                    <p>
                        Всегда приятно, когда есть возможность заниматься йогой в гостиной, залитой ранними лучами солнца. Либо приходить вечером с работы и ужинать, любуясь живописным закатом. Наличие большого обилия естественного света — это одно из самых главных правил удачной планировки. Ведь солнечные ванны оказывают огромное влияние на организм человека: восполняют витамин D, поднимают настроение и иммунитет.
                        Любителям большого количества света подойдёт квартира, где две стороны расположены на оси «запад — восток»Тогда в квартире будет светло весь день. При этом гостиную и детскую предпочтительно располагать на южной стороне.
                    </p>
                    <img src="./assets/images/image-15.jpg" alt="">
                    <span>Дневное освещение</span>
                    <p>
                        Всегда приятно, когда есть возможность заниматься йогой в гостиной, залитой ранними лучами солнца. Либо приходить вечером с работы и ужинать, любуясь живописным закатом. Наличие большого обилия естественного света — это одно из самых главных правил удачной планировки. Ведь солнечные ванны оказывают огромное влияние на организм человека: восполняют витамин D, поднимают настроение и иммунитет.
                        Любителям большого количества света подойдёт квартира, где две стороны расположены на оси «запад — восток»Тогда в квартире будет светло весь день. При этом гостиную и детскую предпочтительно располагать на южной стороне.
                    </p>
                    <img src="./assets/images/image-15.jpg" alt="">
                    <p>
                        Всегда приятно, когда есть возможность заниматься йогой в гостиной, залитой ранними лучами солнца. Либо приходить вечером с работы и ужинать, любуясь живописным закатом. Наличие большого обилия естественного света — это одно из самых главных правил удачной планировки.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>