<div class="block-title">
    <div class="block-title__header">
        <h2 class="title title--h2 title-reset">Наши проекты</h2>
    </div>
    <div class="block-title__content">
        <ul class="block-title__list list-reset">
            <li class="block-title__li active">
                <div class="block-title__block-text-li">
                    <span>01</span>
                    <span>Все проекты</span>
                </div>
            </li>
            <li class="block-title__li">
                <div class="block-title__block-text-li">
                    <span>02</span>
                    <span>Завершённые</span>
                </div>
            </li>
            <li class="block-title__li">
                <div class="block-title__block-text-li">
                    <span>03</span>
                    <span>В работе</span>
                </div>
            </li>
        </ul>
        <div class="select select--direction--right" data-select="select">
            <div class="select__block-title" data-select="block-title">
                <span class="select__title" data-select="title">Звёздность</span>
                <svg class="select__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#arrow-down"/>
                </svg>
            </div>
            <div class="select__block-content" data-select="block-content">
                <ul class="select__list list-reset" data-select="list">
                    <li class="select__li">
                        <div class="checkbox">
                            <label data-role="" class="checkbox__label">
                                <input type="checkbox" class="checkbox__input" name="" value="">
                                <span class="checkbox__text">1 звезды</span>
                                <span class="checkbox__decore"></span>
                            </label>
                        </div>
                    </li>
                    <li class="select__li">
                        <div class="checkbox">
                            <label data-role="" class="checkbox__label">
                                <input type="checkbox" class="checkbox__input" name="" value="">
                                <span class="checkbox__text">2 звезды</span>
                                <span class="checkbox__decore"></span>
                            </label>
                        </div>
                    </li>
                    <li class="select__li">
                        <div class="checkbox" disabled>
                            <label data-role="" class="checkbox__label">
                                <input type="checkbox" class="checkbox__input" name="" value="">
                                <span class="checkbox__text">3 звезды</span>
                                <span class="checkbox__decore"></span>
                            </label>
                        </div>
                    </li>
                    <li class="select__li">
                        <div class="checkbox active">
                            <label data-role="" class="checkbox__label">
                                <input type="checkbox" class="checkbox__input" name="" value="">
                                <span class="checkbox__text">4 звезды</span>
                                <span class="checkbox__decore"></span>
                            </label>
                        </div>
                    </li>
                </ul>
                <button class="btn btn--size--lg btn--theme--secondary">
                    <span class="btn__text">Применить</span>
                </button>
            </div>
        </div>
    </div>
</div>