<section class="contact-us contact-us--theme--dark">
    <div class="main-container max-width">
        <div class="contact-us__block-info">
            <h3 class="title title--h3 title-reset">Связаться с нами</h3>
            <span class="contact-us__subtitle">Приходите к нам в офис, посмотрите и потрогайте мебель вживую</span>
        </div>
        <div class="form-block" data-form-block="form-block">
            <div class="form-block__block-message" data-form-block="block-message">
                <span class="form-block__title-message">Заявка успешно отправлена</span>
                <span class="form-block__subtitle-message">Наш менеджер свяжется с вами в ближайшее время</span>
            </div>
            <form action="" class="form-block__form" novalidate data-validate-form data-form-block="form">
                <div class="input">
                    <div class="input__block-input">
                        <input type="text" class="input__input" data-input-type="name" required>
                        <span class="input__placeholder">Имя</span>
                    </div>
                    <span class="input__message" data-input="message"></span>
                </div>
                <div class="input">
                    <div class="input__block-input">
                        <input type="text" class="input__input" data-input-type="tel" data-phone-mask required>
                        <span class="input__placeholder">Телефон</span>
                    </div>
                    <span class="input__message" data-input="message"></span>
                </div>
                <div class="input">
                    <div class="input__block-input">
                        <input type="text" class="input__input" data-input-type="email">
                        <span class="input__placeholder">Email</span>
                    </div>
                    <span class="input__message" data-input="message"></span>
                </div>
                <div class="form-block__block-btn">
                    <button type="submit" class="btn btn--size--sm btn--theme--primary">
                        <span class="btn__text">Отправить</span>
                    </button>
                    <span class="form-block__privacy-policy">
                        Нажимая «Отправить», я даю соглашаюсь с <a href="#" class="link-reset">политикой конфиденциальности</a>
                    </span>
                </div>
            </form>
        </div>
    </div>
</section>