<div class="form-block">
    <div class="form-block__block-head">
        <h3 class="title title--h3 title-reset">Получить консультацию</h3>
        <span class="form-block__subtitle">Получите бесплатную консультацию специалиста</span>
    </div>
    <form action="" class="form-block__form" novalidate data-validate-form>
        <div class="input">
            <div class="input__block-input">
                <input type="text" class="input__input" data-input-type="name" required>
                <span class="input__placeholder">Имя</span>
            </div>
            <span class="input__message" data-input="message"></span>
        </div>
        <div class="input">
            <div class="input__block-input">
                <input type="text" class="input__input" data-input-type="tel" data-phone-mask required>
                <span class="input__placeholder">Телефон</span>
            </div>
            <span class="input__message" data-input="message"></span>
        </div>
        <div class="input">
            <div class="input__block-input">
                <input type="text" class="input__input" data-input-type="email" required>
                <span class="input__placeholder">Email</span>
            </div>
            <span class="input__message" data-input="message"></span>
        </div>
        <div class="textarea">
            <div class="textarea__block-textarea">
                <textarea class="textarea__textarea"></textarea>
                <span class="textarea__placeholder">Комментарий</span>
            </div>
            <span class="textarea__message"></span>
        </div>
        <div class="form-block__block-btn">
            <button type="submit" class="btn btn--size--sm btn--theme--primary">
                <span class="btn__text">Отправить</span>
            </button>
            <span class="form-block__privacy-policy">
                Нажимая «Отправить», я даю соглашаюсь с <a href="#" class="link-reset">политикой конфиденциальности</a>
            </span>
        </div>
    </form>
</div>