<section class="geography-objects" data-geography-objects="main">
    <div class="geography-objects__decore-block wow animate__fadeInLeft" data-wow-duration="0.5s" data-geography-objects="decore-block"></div>
    <div class="geography-objects__block-map wow animate__fadeInRight" data-wow-duration="1s">
        <!-- <img src="./assets/images/map.jpg" class="geography-objects__map" alt=""> -->
        <div class="geography-objects__map" data-geography-objects="map"></div>
    </div>
    <div class="main-container max-width">
        <h3 class="title title--h3 title-reset wow animate__fadeInUp" data-wow-duration="0.7s">География наших <br> объектов</h3>
        <a href="#" class="link link--theme--dark link-reset wow animate__fadeInUp" data-wow-duration="0.7s" data-hystmodal="#price-catalog">
            <span class="link__name">Получить каталог с ценами</span>
            <svg class="link__icon">
                <use xlink:href="./assets/icons/sprite-svg.svg#big-arrow-right"/>
            </svg>
        </a>
        <div class="geography-objects__block-description wow animate__fadeInLeft" data-wow-duration="0.7s" data-geography-objects="description">
            <span class="geography-objects__description">Оснащаем отели <br> и иные средства <br> размещения по всей <br> России</span>
        </div>
    </div>
</section>