<div class="main-slider" data-main-slider="main-slider">
    <div class="swiper main-slider__slider" data-main-slider="slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-main-slider="slide">
                <a href="#" class="link-reset">
                    <div class="main-slider__block-image" data-main-slider="block-image">
                        <img src="./assets/images/image-1.jpg" class="main-slider__image" alt="">
                    </div>
                </a>
                <div class="main-slider__wrapper-info">
                    <a href="#" class="link-reset">
                        <div class="main-slider__block-info">
                            <span class="main-slider__number-slide">01</span>
                            <span class="main-slider__title-slide">Каспий Марина</span>
                            <span class="main-slider__subtitle-slide">Апартаменты в Каспийске</span>
                        </div>
                    </a>
                    <a href="#" class="link link--theme--light link-reset" data-hystmodal="#price-catalog">
                        <span class="link__name">Получить каталог с ценами</span>
                        <svg class="link__icon">
                            <use xlink:href="./assets/icons/sprite-svg.svg#big-arrow-right"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="swiper-slide" data-main-slider="slide">
                <a href="#" class="link-reset">
                    <div class="main-slider__block-image" data-main-slider="block-image">
                        <img src="./assets/images/image-2.jpg" class="main-slider__image" alt="">
                    </div>
                </a>
                <div class="main-slider__wrapper-info">
                    <a href="#" class="link-reset">
                        <div class="main-slider__block-info">
                            <span class="main-slider__number-slide">02</span>
                            <span class="main-slider__title-slide">Каспий Марина 2</span>
                            <span class="main-slider__subtitle-slide">Апартаменты в Каспийске 2</span>
                        </div>
                    </a>
                    <a href="#" class="link link--theme--light link-reset" data-hystmodal="#price-catalog">
                        <span class="link__name">Получить каталог с ценами</span>
                        <svg class="link__icon">
                            <use xlink:href="./assets/icons/sprite-svg.svg#big-arrow-right"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="arrows-group">
        <button type="button" class="arrow arrow--theme--light" data-main-slider="btnPrev">
            <svg class="arrow__icon">
                <use xlink:href="./assets/icons/sprite-svg.svg#arrow-left"/>
            </svg>
        </button>
        <button type="button" class="arrow arrow--theme--light" data-main-slider="btnNext">
            <svg class="arrow__icon">
                <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right"/>
            </svg>
        </button>
    </div>
    <div class="swiper-pagination" data-main-slider="pagination"></div>
</div>