<section class="our-channel">
    <div class="our-channel__block-bg">
        <img src="./assets/images/image-5.jpg" class="our-channel__bg" alt="">
    </div>
    <div class="main-container max-width">
        <h2 class="title title--h2 title-reset">У нас крутой канал на youtube</h2>
        <div class="our-channel__description">
            <p>На канале мы рассказываем о жизни гостиниц, отелей, пансионатов изнутри.</p>
            <p>Обзоры, фишки, лайфхаки, интервью, и многое другое.</p>
        </div>
        <a href="" class="btn btn--size--md btn--theme--primary">
            <span class="btn__text">Перейти на канал</span>
        </a>
    </div>
</section>