<section class="our-channel">
    <div class="our-channel__block-bg">
        <!-- <img src="./assets/images/image-5.jpg" class="our-channel__bg" alt="">-->
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/RwLE3O52Mzg?autoplay=1&mute=1" title="Fabulously Beautiful Places on the Planet in 4K video format with Wonderful Relaxing Music" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="main-container max-width">
        <h2 class="title title--h2 title-reset wow animate__fadeInUp" data-wow-duration="0.7s">У нас крутой канал на Youtube</h2>
        <div class="our-channel__description wow animate__fadeInUp" data-wow-duration="1s">
            <p>На канале мы рассказываем о жизни гостиниц, отелей, пансионатов изнутри.</p>
            <p>Обзоры, фишки, лайфхаки, интервью, и многое другое.</p>
        </div>
        <a href="" class="btn btn--size--md btn--theme--primary wow animate__fadeInUp" data-wow-duration="1.5s">
            <span class="btn__text">Перейти на канал</span>
        </a>
    </div>
</section>