<section class="our-projects">
    <div class="main-container max-width">
        @include('./block-title.html')
        <div class="our-projects__wrapper-project-cards">
            <div class="project-preview wow animate__fadeInUp" data-wow-duration="0.7s">
                <div class="project-preview__wrapper-info">
                    <div class="project-preview__wrapper-numbers">
                        <div class="project-preview__block-number">
                            <span>Проект</span>
                            <span>01</span>
                        </div>
                        <div class="project-preview__block-number">
                            <span>Звёздность</span>
                            <span>01</span>
                        </div>
                    </div>
                    <div class="project-preview__block-info">
                        <h3 class="title title--h3 title-reset">Гостевой дом «РЕГАТА»</h3>
                        <div class="project-preview__block-description">
                            <span class="project-preview__description">Гостевой дом в Санкт-Петербурге</span>
                            <span class="project-preview__description">Площадь: 250m<sup>2</sup></span>
                        </div>
                    </div>
                    <a href="#" class="btn btn--size--lg btn--theme--primary">
                        <span class="btn__text">Подробнее о проекте</span>
                    </a>
                </div>
                <div class="project-preview__block-image">
                    <img src="./assets/images/image-1.jpg" class="project-preview__image" alt="">
                </div>
            </div>
            <div class="project-preview wow animate__fadeInUp" data-wow-duration="0.7s">
                <div class="project-preview__wrapper-info">
                    <div class="project-preview__wrapper-numbers">
                        <div class="project-preview__block-number">
                            <span>Проект</span>
                            <span>02</span>
                        </div>
                        <div class="project-preview__block-number">
                            <span>Звёздность</span>
                            <span>03</span>
                        </div>
                    </div>
                    <div class="project-preview__block-info">
                        <h3 class="title title--h3 title-reset">Central  Hotel Makhachkala</h3>
                        <div class="project-preview__block-description">
                            <span class="project-preview__description">Отель в Махачкале</span>
                            <span class="project-preview__description">Площадь: 2000m<sup>2</sup></span>
                        </div>
                    </div>
                    <a href="#" class="btn btn--size--lg btn--theme--primary">
                        <span class="btn__text">Подробнее о проекте</span>
                    </a>
                </div>
                <div class="project-preview__block-image">
                    <img src="./assets/images/image-2.jpg" class="project-preview__image" alt="">
                </div>
            </div>
            <div class="project-preview wow animate__fadeInUp" data-wow-duration="0.7s">
                <div class="project-preview__wrapper-info">
                    <div class="project-preview__wrapper-numbers">
                        <div class="project-preview__block-number">
                            <span>Проект</span>
                            <span>03</span>
                        </div>
                        <div class="project-preview__block-number">
                            <span>Звёздность</span>
                            <span>02</span>
                        </div>
                    </div>
                    <div class="project-preview__block-info">
                        <h3 class="title title--h3 title-reset">Капитан морей</h3>
                        <div class="project-preview__block-description">
                            <span class="project-preview__description">Апартаменты в Новороссийске</span>
                            <span class="project-preview__description">Площадь: 450m<sup>2</sup></span>
                        </div>
                    </div>
                    <a href="#" class="btn btn--size--lg btn--theme--primary">
                        <span class="btn__text">Подробнее о проекте</span>
                    </a>
                </div>
                <div class="project-preview__block-image">
                    <img src="./assets/images/image-11.jpg" class="project-preview__image" alt="">
                </div>
            </div>
            <div class="project-preview wow animate__fadeInUp" data-wow-duration="0.7s">
                <div class="project-preview__wrapper-info">
                    <div class="project-preview__wrapper-numbers">
                        <div class="project-preview__block-number">
                            <span>Проект</span>
                            <span>04</span>
                        </div>
                        <div class="project-preview__block-number">
                            <span>Звёздность</span>
                            <span>05</span>
                        </div>
                    </div>
                    <div class="project-preview__block-info">
                        <h3 class="title title--h3 title-reset">Жемчужина моря</h3>
                        <div class="project-preview__block-description">
                            <span class="project-preview__description">Апартаменты в Сочи</span>
                            <span class="project-preview__description">Площадь: 900m<sup>2</sup></span>
                        </div>
                    </div>
                    <a href="#" class="btn btn--size--lg btn--theme--primary">
                        <span class="btn__text">Подробнее о проекте</span>
                    </a>
                </div>
                <div class="project-preview__block-image">
                    <img src="./assets/images/image-12.jpg" class="project-preview__image" alt="">
                </div>
            </div>
        </div>
    </div>
</section>