<section class="our-rest" data-our-rest="main">
    <div class="main-container max-width">
        <h2 class="title title--h2 title-reset">Мы увлечённо работаем и интересно отдыхаем</h2>
        <div class="our-rest__block-slider">
            <div class="swiper our-rest__slider" data-our-rest="slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" data-our-rest="slide">
                        <div class="our-rest__block-image" data-our-rest="block-image">
                            <img src="./assets/images/image-1.jpg" class="our-rest__image" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide" data-our-rest="slide">
                        <div class="our-rest__block-image" data-our-rest="block-image">
                            <img src="./assets/images/image-2.jpg" class="our-rest__image" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide" data-our-rest="slide">
                        <div class="our-rest__block-image" data-our-rest="block-image">
                            <img src="./assets/images/image-1.jpg" class="our-rest__image" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide" data-our-rest="slide">
                        <div class="our-rest__block-image" data-our-rest="block-image">
                            <img src="./assets/images/image-2.jpg" class="our-rest__image" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="arrows-group">
                <button type="button" class="arrow arrow--theme--light" data-our-rest="btn-prev">
                    <svg class="arrow__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#arrow-left"/>
                    </svg>
                </button>
                <button type="button" class="arrow arrow--theme--light" data-our-rest="btn-next">
                    <svg class="arrow__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right"/>
                    </svg>
                </button>
            </div>
            <div class="swiper-pagination" data-our-rest="pagination"></div>
        </div>
    </div>
</section>