<section class="our-rest" data-our-rest="main">
    <div class="main-container max-width">
        <h2 class="title title--h2 title-reset wow animate__fadeInUp" data-wow-duration="0.7s">Мы увлечённо работаем и интересно отдыхаем</h2>
        <div class="our-rest__block-slider wow animate__fadeInUp" data-wow-duration="0.7s">
            <div class="swiper our-rest__slider" data-our-rest="slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="our-rest__block-image">
                            <img src="./assets/images/team-1.jpg" class="our-rest__image swiper-lazy" alt="">
                        </div>
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="our-rest__block-image">
                            <img src="./assets/images/image-2.jpg" class="our-rest__image swiper-lazy" alt="">
                        </div>
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="our-rest__block-image">
                            <img src="./assets/images/team-1.jpg" class="our-rest__image swiper-lazy" alt="">
                        </div>
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                    <div class="swiper-slide">
                        <div class="our-rest__block-image">
                            <img src="./assets/images/image-2.jpg" class="our-rest__image swiper-lazy" alt="">
                        </div>
                        <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                </div>
            </div>
            <div class="arrows-group arrows-group--horizontal">
                <button type="button" class="arrow arrow--theme--dark" data-our-rest="btn-prev">
                    <svg class="arrow__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#arrow-left"/>
                    </svg>
                </button>
                <button type="button" class="arrow arrow--theme--dark" data-our-rest="btn-next">
                    <svg class="arrow__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>