<section class="our-channel" data-our-channel="main">
    <!-- block-bg -->
    <div class="main-container max-width">
        <h2 class="title title--h2 title-reset wow animate__fadeInUp" data-wow-duration="0.7s">У нас крутой канал на Youtube</h2>
        <div class="our-channel__description wow animate__fadeInUp" data-wow-duration="1s">
            <p>На канале мы рассказываем о жизни гостиниц, отелей, пансионатов изнутри.</p>
            <p>Обзоры, фишки, лайфхаки, интервью, и многое другое.</p>
        </div>
        <a href="" class="btn btn--size--md btn--theme--primary wow animate__fadeInUp" data-wow-duration="1.5s">
            <span class="btn__text">Перейти на канал</span>
        </a>
    </div>
</section>