<section class="our-services">
    <div class="main-container max-width">
        <div class="block-title">
            <div class="block-title__header">
                <h2 class="title title--h2 title-reset">Наши услуги</h2>
            </div>
        </div>
        <div class="our-services__wrapper-service-cards">
            <div class="service-card" data-service-card="main">
                <div class="service-card__block-image">
                    <img src="./assets/images/image-12.jpg" class="service-card__image" alt="">
                </div>
                <div class="service-card__block-info">
                    <div class="service-card__block-title">
                        <h3 class="title title--h3 title-reset">Аудит объекта</h3>
                        <a href="#" class="btn btn--size--md btn--theme--primary" data-service-card="btn">
                            <span class="btn__text">Подробнее</span>
                        </a>
                    </div>
                    <div class="service-card__block-description" data-service-card="block-description">
                        <span class="service-card__description">Анализ объекта размещения на первых этапах строительства и устранение часто допускаемых ошибок</span>
                    </div>
                </div>
            </div>
            <div class="service-card" data-service-card="main">
                <div class="service-card__block-image">
                    <img src="./assets/images/image-11.jpg" class="service-card__image" alt="">
                </div>
                <div class="service-card__block-info">
                    <div class="service-card__block-title">
                        <h3 class="title title--h3 title-reset">Дизайн подряд</h3>
                        <a href="#" class="btn btn--size--md btn--theme--primary" data-service-card="btn">
                            <span class="btn__text">Подробнее</span>
                        </a>
                    </div>
                    <div class="service-card__block-description" data-service-card="block-description">
                        <span class="service-card__description">Анализ объекта размещения на первых этапах строительства и устранение часто допускаемых ошибок</span>
                    </div>
                </div>
            </div>
            <div class="service-card" data-service-card="main">
                <div class="service-card__block-image">
                    <img src="./assets/images/image-2.jpg" class="service-card__image" alt="">
                </div>
                <div class="service-card__block-info">
                    <div class="service-card__block-title">
                        <h3 class="title title--h3 title-reset">Частные проекты</h3>
                        <a href="#" class="btn btn--size--md btn--theme--primary" data-service-card="btn">
                            <span class="btn__text">Подробнее</span>
                        </a>
                    </div>
                    <div class="service-card__block-description" data-service-card="block-description">
                        <span class="service-card__description">Анализ объекта размещения на первых этапах строительства и устранение часто допускаемых ошибок</span>
                    </div>
                </div>
            </div>
            <div class="service-card" data-service-card="main">
                <div class="service-card__block-image">
                    <img src="./assets/images/image-1.jpg" class="service-card__image" alt="">
                </div>
                <div class="service-card__block-info">
                    <div class="service-card__block-title">
                        <h3 class="title title--h3 title-reset">Ремонт под ключ</h3>
                        <a href="#" class="btn btn--size--md btn--theme--primary" data-service-card="btn">
                            <span class="btn__text">Подробнее</span>
                        </a>
                    </div>
                    <div class="service-card__block-description" data-service-card="block-description">
                        <span class="service-card__description">Анализ объекта размещения на первых этапах строительства и устранение часто допускаемых ошибок</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>