<div class="partner-card" data-partner-card="main">
    <div class="partner-card__wrapper-contacts">
        <div class="partner-card__inner-contacts">
            <span class="partner-card__name">Иванов Иван</span>
            <div class="partner-card__block-info">
                <span class="partner-card__title-block">Контакты:</span>
                <ul class="partner-card__list list-reset">
                    <li class="partner-card__li">
                        <a href="#" class="partner-card__link link-decore-line link-reset">www.ivanov.com</a>
                    </li>
                    <li class="partner-card__li">
                        <a href="#" class="partner-card__link link-decore-line link-reset">ivanov@mail.ru</a>
                    </li>
                    <li class="partner-card__li">
                        <a href="#" class="partner-card__link link-decore-line link-reset">+7 999 999-99-99</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="partner-card__block-avatar">
            <img src="./assets/images/human-1.jpg" class="partner-card__avatar" alt="">
        </div>
    </div>
    <div class="partner-card__wrapper-about-expert">
        <div class="partner-card__block-info">
            <span class="partner-card__title-block">Об эксперте:</span>
            <ul class="partner-card__list" data-partner-card="list">
                <li class="partner-card__li">
                    Вице-Президент Российской Гостиничной Ассоциации
                </li>
                <li class="partner-card__li">
                    Член Правления и Председатель Комитета 
                    по инфраструктурным Проектам Российского 
                    Союза Туриндустрии Проектам Российского 
                    Союза Туриндустрии
                </li>
                <li class="partner-card__li">
                    Член Общественно-Экспертного Совета по разработки
                </li>
                <li class="partner-card__li">
                    Член Общественно-Экспертного Совета по разработки
                </li>
                <li class="partner-card__li">
                    Член Общественно-Экспертного Совета по разработки
                </li>
                <li class="partner-card__li">
                    Член Общественно-Экспертного Совета по разработки
                </li>
            </ul>
        </div>
        <button class="partner-card__btn" data-partner-card="btn">
            <span class="partner-card__btn-text" data-partner-card="btn-text">Читать больше</span>
            <svg class="partner-card__btn-icon">
                <use xlink:href="./assets/icons/sprite-svg.svg#arrow-down-editable"/>
            </svg>
        </button>
    </div>
</div>