<section class="persons-company">
    <div class="main-container max-width">
        <div class="persons-company__wrapper-person">
            <div class="persons-company__block-image wow animate__fadeIn" data-wow-duration="0.7s">
                <img src="./assets/images/human-9.jpg" class="persons-company__image" alt="">
            </div>
            <div class="persons-company__block-info wow animate__fadeIn" data-wow-duration="0.7s">
                <h5 class="title title--h5 title-reset">Андрей Свирелис — эксперт в оснащении отелей и основатель компании «Про Отель»</h5>
                <div class="persons-company__block-text">
                    <p>
                        Мой путь в гостиничную индустрию начался, когда я работал в продажах. Находясь в кругу проектировщиков я знакомился с различными зданиями, объектами и сооружениями, проводил огромное количество переговоров с отельерами. Накануне олимпийских игр, когда город Сочи был на пике посещаемости туристов я и приобрёл основный опыт работы с масштабными стройками и оснащением отелей.
                    </p>
                    <p>
                        Мне всегда хотелось найти в сделке ту золотую середину, в которой все стороны выигрывают: клиент (отельер), которому мы продаём — получает качественную, профессионально укомплектованную гостиницу, счастливый гость (конечный потребитель этого товара) получает отдых и комфорт, мы как предприниматели выигрываем, получая выгоду в виде прибыли.Опираясь на эти ценности в 2017 году я основал свою компанию.
                    </p>
                    <p>
                        Что нас всех объединяет — это миссия, которая нами движет.«Про Отель» - это про новый качественный туризм в России. Мы воплощаем эту идею за счёт продуманной и удобной комплектации отелей. Каждый реализованный нами проект — это не просто воплощение идеи и красивой картинки, это симбиоз дизайна, эстетики, технологий, функциональности и комфорта.
                    </p>
                </div>
            </div>
        </div>
        <div class="persons-company__wrapper-persons">
            <h2 class="title title--h2 title-reset">Ключевые лица компании</h2>
            <div class="persons-company__inner-persons">
                <div class="person-card wow animate__fadeIn" data-wow-duration="0.7s">
                    <div class="person-card__block-image">
                        <img src="./assets/images/human-11.jpg" class="person-card__image" alt="">
                    </div>
                    <div class="person-card__block-info">
                        <span class="person-card__name">Аврора Александрова</span>
                        <span class="person-card__post">Дизайнер</span>
                    </div>
                </div>
                <div class="person-card wow animate__fadeIn" data-wow-duration="0.7s">
                    <div class="person-card__block-image">
                        <img src="./assets/images/human-18.jpg" class="person-card__image" alt="">
                    </div>
                    <div class="person-card__block-info">
                        <span class="person-card__name">Аврора Александрова</span>
                        <span class="person-card__post">Дизайнер</span>
                    </div>
                </div>
                <div class="person-card wow animate__fadeIn" data-wow-duration="0.7s">
                    <div class="person-card__block-image">
                        <img src="./assets/images/human-10.jpg" class="person-card__image" alt="">
                    </div>
                    <div class="person-card__block-info">
                        <span class="person-card__name">Аврора Александрова</span>
                        <span class="person-card__post">Дизайнер</span>
                    </div>
                </div>
                <div class="person-card active wow animate__fadeIn" data-wow-duration="0.7s">
                    <div class="person-card__block-image">
                        <img src="./assets/images/human-12.jpg" class="person-card__image" alt="">
                    </div>
                    <div class="person-card__block-info">
                        <span class="person-card__name">Эдуард Григорьев</span>
                        <span class="person-card__post">Менеджер</span>
                    </div>
                </div>
                <div class="person-card wow animate__fadeIn" data-wow-duration="0.7s">
                    <div class="person-card__block-image">
                        <img src="./assets/images/human-13.jpg" class="person-card__image" alt="">
                    </div>
                    <div class="person-card__block-info">
                        <span class="person-card__name">Тимур Ефимов</span>
                        <span class="person-card__post">Архитектор</span>
                    </div>
                </div>
                <div class="person-card wow animate__fadeIn" data-wow-duration="0.7s">
                    <div class="person-card__block-image">
                        <img src="./assets/images/human-14.jpg" class="person-card__image" alt="">
                    </div>
                    <div class="person-card__block-info">
                        <span class="person-card__name">Аглая Алексеева</span>
                        <span class="person-card__post">Архитектор</span>
                    </div>
                </div>
                <div class="person-card wow animate__fadeIn" data-wow-duration="0.7s">
                    <div class="person-card__block-image">
                        <img src="./assets/images/human-15.jpg" class="person-card__image" alt="">
                    </div>
                    <div class="person-card__block-info">
                        <span class="person-card__name">Услад Голубев</span>
                        <span class="person-card__post">Дизайнер</span>
                    </div>
                </div>
                <div class="person-card wow animate__fadeIn" data-wow-duration="0.7s">
                    <div class="person-card__block-image">
                        <img src="./assets/images/human-16.jpg" class="person-card__image" alt="">
                    </div>
                    <div class="person-card__block-info">
                        <span class="person-card__name">Федот Игнатьев</span>
                        <span class="person-card__post">Менеджер</span>
                    </div>
                </div>
                <div class="person-card wow animate__fadeIn" data-wow-duration="0.7s">
                    <div class="person-card__block-image">
                        <img src="./assets/images/human-17.jpg" class="person-card__image" alt="">
                    </div>
                    <div class="person-card__block-info">
                        <span class="person-card__name">Ярослава Белоусова</span>
                        <span class="person-card__post">Архитектор</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>