<section class="privacy-policy">
    <div class="main-container max-width">
        <div class="block-title">
            <div class="block-title__header">
                <h2 class="title title--h2 title-reset">Политика конфиденциальности</h2>
            </div>
        </div>
        <div class="privacy-policy__block-text">
            <h5 class="title title--h5 title-reset">1. Общие положения</h5>
            <p>
                Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. № 152-ФЗ «О персональных данных» (далее — Закон о персональных данных) и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных, предпринимаемые Михайловым Иваном Сергеевичем (далее — Оператор).
            </p>
            <ol>
                <li>
                    <span>1.1</span>
                    Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну
                </li>
                <li>
                    <span>1.2</span>
                    Настоящая политика Оператора в отношении обработки персональных данных (далее — Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта httpsː//thismywebsite·com
                </li>
            </ol>

            <h5 class="title title--h5 title-reset">2. Основные понятия, используемые в Политике</h5>
            <ol>
                <li>
                    <span>2.1</span>
                    Настоящая политика Оператора в отношении обработки персональных данных (далее — Политика) применяется ко 
                    <ul>
                        <li>
                            получать от субъекта персональных данных достоверные информацию и/или документы, содержащие персональные данные;
                        </li>
                        <li>
                            в случае отзыва субъектом персональных данных согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в Законе о персональных данных;
                        </li>
                        <li>
                            самостоятельно определять состав и перечень мер, необходимых и достаточных для обеспечения выполнения обязанностей, предусмотренных Законом о персональных данных и принятыми в соответствии с ним нормативными правовыми актами, если иное не предусмотрено Законом о персональных данных или другими федеральными законами
                        </li>
                    </ul>
                </li>
                <li>
                    <span>1.2</span>
                    Настоящая политика Оператора в отношении обработки персональных данных (далее — Политика) применяется ко всей информации, которую Оператор может получить о посетителях веб-сайта httpsː//thismywebsite·com
                </li>
            </ol>
        </div>
    </div>
</section>