<section class="project" data-project="main">
    <div class="project__block-decore" data-project="block-decore wow animate__fadeInLeft" data-wow-duration="0.5s"></div>
    <div class="main-slider main-slider--line-top wow animate__fadeInRight" data-wow-duration="1s" data-main-slider="main-slider">
        <div class="swiper main-slider__slider" data-main-slider="slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-main-slider="slide">
                    <div class="main-slider__block-image" data-main-slider="block-image">
                        <img src="./assets/images/image-4.jpg" class="main-slider__image" alt="">
                    </div>
                </div>
                <div class="swiper-slide" data-main-slider="slide">
                    <div class="main-slider__block-image" data-main-slider="block-image">
                        <img src="./assets/images/image-4.jpg" class="main-slider__image" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="arrows-group">
            <button type="button" class="arrow arrow--theme--dark" data-main-slider="btnPrev">
                <svg class="arrow__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#arrow-left"/>
                </svg>
            </button>
            <button type="button" class="arrow arrow--theme--dark" data-main-slider="btnNext">
                <svg class="arrow__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right"/>
                </svg>
            </button>
        </div>
        <div class="swiper-pagination" data-main-slider="pagination"></div>
    </div>
    <div class="main-container max-width">
        <h3 class="title title--h3 title-reset wow animate__fadeInDown" data-wow-duration="0.7s" data-project="title">Каспий Марина</h3>
        <div class="project__block-description wow animate__fadeInUp" data-wow-duration="0.7s">
            <span class="project__name">Санаторий Каспий</span>
            <span class="project__description">Элитный санаторий <br> в Каспийске</span>
            <a href="#" class="btn btn--size--lg btn--theme--primary">
                <span class="btn__text">Посмотреть все проекты</span>
            </a>
        </div>
    </div>
</section>