<div class="project-card">
    <div class="project-card__block-bg">
        <img src="./assets/images/image-3.jpg" class="project-card__bg" alt="">
    </div>
    <div class="project-card__wrapper-info">
        <div class="project-card__block-info">
            <span class="project-card__title">Видео-отчёт оснащения отеля в Каспийске</span>
            <span class="project-card__description">Посмотрите видео о нашей работе в Каспийске на нашем ютуб канале</span>
        </div>
        <a href="#" class="link link--theme--dark link-reset">
            <span class="link__name">Подробнее</span>
            <svg class="link__icon">
                <use xlink:href="./assets/icons/sprite-svg.svg#big-arrow-right"/>
            </svg>
        </a>
    </div>
</div>