<div class="project-preview">
    <div class="project-preview__wrapper-info">
        <div class="project-preview__wrapper-numbers">
            <div class="project-preview__block-number">
                <span>Проект</span>
                <span>01</span>
            </div>
            <div class="project-preview__block-number">
                <span>Звёздность</span>
                <span>01</span>
            </div>
        </div>
        <div class="project-preview__block-info">
            <h3 class="title title--h3 title-reset">Гостевой дом «РЕГАТА»</h3>
            <div class="project-preview__block-description">
                <span class="project-preview__description">Гостевой дом в Санкт-Петербурге</span>
                <span class="project-preview__description">Площадь: 250m2</span>
            </div>
        </div>
        <a href="#" class="btn btn--size--lg btn--theme--primary">
            <span class="btn__text">Подробнее о проекте</span>
        </a>
    </div>
    <div class="project-preview__block-image">
        <img src="./assets/images/image-2.jpg" class="project-preview__image" alt="">
    </div>
</div>