<section class="proposal">
    <div class="proposal__block-image">
        <img src="./assets/images/image-13.jpg" class="proposal__image" alt="">
    </div>
    <div class="main-container max-width">
        <div class="proposal__block-content">
            <h5 class="title title--h5 title-reset">Получите бесплатную консультацию специалиста</h5>
            <a href="#" class="btn btn--size--lg btn--theme--primary">
                <span class="btn__text">Бесплатная консультация</span>
            </a>
        </div>
    </div>
</section>