<section class="ready-decisions">
    <div class="main-container max-width">
        <div class="ready-decisions__block-header">
            <h3 class="title title--h3 title-reset wow animate__fadeInUp" data-wow-duration="0.7s">Готовые решения</h3>
            <span class="ready-decisions__description wow animate__fadeInUp" data-wow-duration="0.7s">
                Компания поставляет профессиональные комплектующие, которые в перспективе выгоднее чем дешёвые аналоги. 
                Мы используем энергосберегающие технологии, негорючие материалы и антивандальные решения
            </span>
        </div>
        <div class="ready-decisions__wrapper-decisions wow animate__fadeInUp" data-wow-duration="0.7s">
            <a href="#"class="ready-decisions__decision-card link-reset">
                <div class="ready-decisions__block-image">
                    <img src="./assets/images/image-6.jpg" class="ready-decisions__image" alt="">
                </div>
                <span class="link link--theme--dark link-reset">
                    <span class="link__name">Стандарт</span>
                    <svg class="link__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#big-arrow-right"/>
                    </svg>
                </span>
            </a>
            <a href="#"class="ready-decisions__decision-card link-reset">
                <div class="ready-decisions__block-image">
                    <img src="./assets/images/image-7.jpg" class="ready-decisions__image" alt="">
                </div>
                <span class="link link--theme--dark link-reset">
                    <span class="link__name">Комфорт</span>
                    <svg class="link__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#big-arrow-right"/>
                    </svg>
                </span>
            </a>
            <a href="#"class="ready-decisions__decision-card link-reset">
                <div class="ready-decisions__block-image">
                    <img src="./assets/images/image-8.jpg" class="ready-decisions__image" alt="">
                </div>
                <span class="link link--theme--dark link-reset">
                    <span class="link__name">Люкс</span>
                    <svg class="link__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#big-arrow-right"/>
                    </svg>
                </span>
            </a>
        </div>
    </div>
</section>