<section class="reviews" data-reviews="reviews">
    <div class="main-container max-width">
        <div class="reviews__block-header">
            <h3 class="title title--h3 title-reset">Отзывы</h3>
            <div class="arrows-group arrows-group--horizontal">
                <button type="button" class="arrow arrow--theme--dark" data-reviews="btn-prev">
                    <svg class="arrow__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#arrow-left"/>
                    </svg>
                </button>
                <button type="button" class="arrow arrow--theme--dark" data-reviews="btn-next">
                    <svg class="arrow__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="swiper reviews__slider" data-reviews="slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="reviews__review">
                        <span class="reviews__review-title">Героям были возданы <br> соответствующие почести</span>
                        <div class="reviews__review-block-text">
                            <p>Сложно сказать, почему предприниматели в сети интернет, вне зависимости от их уровня, должны быть подвергнуты целой серии независимых исследований.</p>
                        </div>
                        <div class="reviews__review-block-author">
                            <span class="reviews__review-author">Алена К. г. Москва</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="reviews__review">
                        <span class="reviews__review-title">Героям были возданы <br> соответствующие почести</span>
                        <div class="reviews__review-block-text">
                            <p>Сложно сказать, почему предприниматели в сети интернет, вне зависимости от их уровня, должны быть подвергнуты целой серии независимых исследований. Равным образом, начало повседневной работыпо формированию позиции прекрасно подходитдля реализации первоочередных требований.Таким образом, граница обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании существующих финансовых и административных условий.</p>
                        </div>
                        <div class="reviews__review-block-author">
                            <span class="reviews__review-author">Алена К. г. Москва</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="reviews__review">
                        <span class="reviews__review-title">Героям были возданы <br> соответствующие почести</span>
                        <div class="reviews__review-block-text">
                            <p>Сложно сказать, почему предприниматели в сети интернет, вне зависимости от их уровня, должны быть подвергнуты целой серии независимых исследований. Равным образом, начало повседневной работыпо формированию позиции прекрасно подходит для реализации первоочередных требований.</p>
                        </div>
                        <div class="reviews__review-block-author">
                            <span class="reviews__review-author">Алена К. г. Москва</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="reviews__review">
                        <span class="reviews__review-title">Героям были возданы <br> соответствующие почести</span>
                        <div class="reviews__review-block-text">
                            <p>Сложно сказать, почему предприниматели в сети интернет, вне зависимости от их уровня, должны быть подвергнуты целой серии независимых исследований.</p>
                        </div>
                        <div class="reviews__review-block-author">
                            <span class="reviews__review-author">Алена К. г. Москва</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="reviews__review">
                        <span class="reviews__review-title">Героям были возданы <br> соответствующие почести</span>
                        <div class="reviews__review-block-text">
                            <p>Сложно сказать, почему предприниматели в сети интернет, вне зависимости от их уровня, должны быть подвергнуты целой серии независимых исследований. Равным образом, начало повседневной работыпо формированию позиции прекрасно подходитдля реализации первоочередных требований.Таким образом, граница обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании существующих финансовых и административных условий.</p>
                        </div>
                        <div class="reviews__review-block-author">
                            <span class="reviews__review-author">Алена К. г. Москва</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="reviews__review">
                        <span class="reviews__review-title">Героям были возданы <br> соответствующие почести</span>
                        <div class="reviews__review-block-text">
                            <p>Сложно сказать, почему предприниматели в сети интернет, вне зависимости от их уровня, должны быть подвергнуты целой серии независимых исследований. Равным образом, начало повседневной работыпо формированию позиции прекрасно подходит для реализации первоочередных требований.</p>
                        </div>
                        <div class="reviews__review-block-author">
                            <span class="reviews__review-author">Алена К. г. Москва</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>