<section class="section-ready-decisions">
    <div class="main-container max-width">
        <div class="block-title">
            <div class="block-title__header wow animate__fadeIn" data-wow-duration="0.7s">
                <h2 class="title title--h2 title-reset">Готовые решения</h2>
            </div>
            <div class="block-title__content">
                <ul class="block-title__list list-reset wow animate__fadeIn" data-wow-duration="0.7s">
                    <li class="block-title__li active">
                        <div class="block-title__block-text-li">
                            <span>01</span>
                            <span>Стандарт</span>
                        </div>
                    </li>
                    <li class="block-title__li">
                        <div class="block-title__block-text-li">
                            <span>02</span>
                            <span>Комфорт</span>
                        </div>
                    </li>
                    <li class="block-title__li">
                        <div class="block-title__block-text-li">
                            <span>03</span>
                            <span>Люкс</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main-slider wow animate__fadeIn" data-wow-duration="1s" data-main-slider="main-slider">
        <div class="swiper main-slider__slider" data-main-slider="slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-main-slider="slide">
                    <div class="main-slider__block-image" data-main-slider="block-image">
                        <img src="./assets/images/image-4.jpg" class="main-slider__image swiper-lazy" alt="">
                    </div>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
                <div class="swiper-slide" data-main-slider="slide">
                    <div class="main-slider__block-image" data-main-slider="block-image">
                        <img src="./assets/images/image-4.jpg" class="main-slider__image swiper-lazy" alt="">
                    </div>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
            </div>
        </div>
        <div class="arrows-group">
            <button type="button" class="arrow arrow--theme--light" data-main-slider="btnPrev">
                <svg class="arrow__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#arrow-left"/>
                </svg>
            </button>
            <button type="button" class="arrow arrow--theme--light" data-main-slider="btnNext">
                <svg class="arrow__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right"/>
                </svg>
            </button>
        </div>
        <div class="swiper-pagination" data-main-slider="pagination"></div>
    </div>
    <div class="section-ready-decisions__wrapper-info wow animate__fadeIn" data-wow-duration="0.7s">
        <div class="main-container max-width">
            <div class="section-ready-decisions__inner-info">
                <h5 class="title title--h5 title-reset">Номер стандарт</h5>
                <div class="section-ready-decisions__block-description">
                    <p>
                        Компания поставляет профессиональные комплектующие, которые в перспективе выгоднее чем дешёвые аналоги. Мы используем энергосберегающие технологии, негорючие материалы и антивандальные решения.
                    </p>
                </div>
                <a href="#" class="btn btn--size--md btn--theme--primary" data-hystmodal="#form">
                    <span class="btn__text">Хочу такой проект</span>
                </a>
            </div>
            <div class="section-ready-decisions__inner-info">
                <h5 class="title title--h5 title-reset">Оснащение</h5>
                <ul class="section-ready-decisions__list-equipment list-reset">
                    <li class="section-ready-decisions__li-equipment">Панель изголовья — 1 шт.</li>
                    <li class="section-ready-decisions__li-equipment">Тумбочки прикроватные — 2 шт.</li>
                    <li class="section-ready-decisions__li-equipment">Основание бокс спринг — 1 шт.</li>
                    <li class="section-ready-decisions__li-equipment">Стол рабочий с тумбой для мини бара — 1 шт.</li>
                    <li class="section-ready-decisions__li-equipment">Шкаф — 1 шт.</li>
                    <li class="section-ready-decisions__li-equipment">Тумба для багажа — 1 шт.</li>
                    <li class="section-ready-decisions__li-equipment">Панель-вешалка — 1 шт.</li>
                </ul>
            </div>
        </div>
    </div>
</section>