<section class="section-main-slider">
    <div class="section-main-slider__decore-block"></div>
    <div class="main-container max-width">
        <div class="section-main-slider__wrapper-info">
            <h2 class="title title--h1 title-reset">Комплексное <br> оснащение <br> отелей</h2>
            <div class="section-main-slider__block-description">
                <span class="section-main-slider__description">Консультируем, разрабатываем дизайн проекты и планировочные решения для номеров любой категории. Производим закупку и оснащение номеров отелей под ключ</span>
            </div>
        </div>
        @include('./main-slider.html')
    </div>
</section>