<section class="section-reviews" data-section-reviews="main">
    <div class="main-container max-width">
        <div class="block-title">
            <div class="block-title__header">
                <h2 class="title title--h2 title-reset">Отзывы</h2>
            </div>
            <div class="block-title__content">
                <ul class="block-title__list list-reset">
                    <li class="block-title__li active">
                        <div class="block-title__block-text-li">
                            <span>01</span>
                            <span>Клиенты</span>
                        </div>
                    </li>
                    <li class="block-title__li">
                        <div class="block-title__block-text-li">
                            <span>02</span>
                            <span>Партнёры</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-reviews__wrapper-slider">
        <div class="section-reviews__slider-decore"></div>
        <div class="section-reviews__block-slider">
            <div class="swiper section-reviews__slider" data-section-reviews="slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="review-card">
                            <div class="review-card__block-image">
                                <img src="./assets/images/human-7.jpg" class="review-card__image" alt="">
                            </div>
                            <div class="review-card__wrapper-info">
                                <div class="review-card__wrapper-info-client">
                                    <div class="review-card__block-info-client">
                                        <span class="review-card__name-client">Ирина Александровна</span>
                                        <span class="review-card__who-client">Пользователь</span>
                                    </div>
                                    <div class="review-card__block-other-info">
                                        <ul class="review-card__rating list-reset">
                                            <li class="review-card__rating-block-star active">
                                                <svg class="review-card__rating-star-icon">
                                                    <use xlink:href="./assets/icons/sprite-svg.svg#star"/>
                                                </svg>
                                            </li>
                                            <li class="review-card__rating-block-star active">
                                                <svg class="review-card__rating-star-icon">
                                                    <use xlink:href="./assets/icons/sprite-svg.svg#star"/>
                                                </svg>
                                            </li>
                                            <li class="review-card__rating-block-star active">
                                                <svg class="review-card__rating-star-icon">
                                                    <use xlink:href="./assets/icons/sprite-svg.svg#star"/>
                                                </svg>
                                            </li>
                                            <li class="review-card__rating-block-star active">
                                                <svg class="review-card__rating-star-icon">
                                                    <use xlink:href="./assets/icons/sprite-svg.svg#star"/>
                                                </svg>
                                            </li>
                                            <li class="review-card__rating-block-star">
                                                <svg class="review-card__rating-star-icon">
                                                    <use xlink:href="./assets/icons/sprite-svg.svg#star"/>
                                                </svg>
                                            </li>
                                        </ul>
                                        <span class="review-card__date">19 июля 2022</span>
                                    </div>
                                </div>
                                <div class="review-card__block-text">
                                    <p>Спасибо огромное за ваш труд! Вы настоящие профессионалы своего дела! Всегда подскажите и расскажите! Продукция вся супер! Покупаю уже не первый раз, у меня ваши подушки, одеяло, полотенца, особенно нравится плед махровый — он шикарный! Всё отличного качества! Обязательно к вам вернусь и всем вас рекомендую!</p>
                                    <p>Спасибо огромное за ваш труд! Вы настоящие профессионалы своего дела! Всегда подскажите и расскажите! Продукция вся супер!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="review-card">
                            <div class="review-card__block-image">
                                <img src="./assets/images/human-8.jpg" class="review-card__image" alt="">
                            </div>
                            <div class="review-card__wrapper-info">
                                <div class="review-card__wrapper-info-client">
                                    <div class="review-card__block-info-client">
                                        <span class="review-card__name-client">Игорь Андреевич</span>
                                        <span class="review-card__who-client">Пользователь</span>
                                    </div>
                                    <div class="review-card__block-other-info">
                                        <ul class="review-card__rating list-reset">
                                            <li class="review-card__rating-block-star active">
                                                <svg class="review-card__rating-star-icon">
                                                    <use xlink:href="./assets/icons/sprite-svg.svg#star"/>
                                                </svg>
                                            </li>
                                            <li class="review-card__rating-block-star active">
                                                <svg class="review-card__rating-star-icon">
                                                    <use xlink:href="./assets/icons/sprite-svg.svg#star"/>
                                                </svg>
                                            </li>
                                            <li class="review-card__rating-block-star active">
                                                <svg class="review-card__rating-star-icon">
                                                    <use xlink:href="./assets/icons/sprite-svg.svg#star"/>
                                                </svg>
                                            </li>
                                            <li class="review-card__rating-block-star active">
                                                <svg class="review-card__rating-star-icon">
                                                    <use xlink:href="./assets/icons/sprite-svg.svg#star"/>
                                                </svg>
                                            </li>
                                            <li class="review-card__rating-block-star">
                                                <svg class="review-card__rating-star-icon">
                                                    <use xlink:href="./assets/icons/sprite-svg.svg#star"/>
                                                </svg>
                                            </li>
                                        </ul>
                                        <span class="review-card__date">23 августа 2022</span>
                                    </div>
                                </div>
                                <div class="review-card__block-text">
                                    <p>Спасибо огромное за ваш труд! Вы настоящие профессионалы своего дела! Всегда подскажите и расскажите! Продукция вся супер! Покупаю уже не первый раз, у меня ваши подушки, одеяло, полотенца, особенно нравится плед махровый — он шикарный! Всё отличного качества! Обязательно к вам вернусь и всем вас рекомендую!</p>
                                    <p>Спасибо огромное за ваш труд! Вы настоящие профессионалы своего дела! Всегда подскажите и расскажите! Продукция вся супер!</p>
                                    <p>Спасибо огромное за ваш труд! Вы настоящие профессионалы своего дела! Всегда подскажите и расскажите! Продукция вся супер! Покупаю уже не первый раз, у меня ваши подушки, одеяло, полотенца, особенно нравится плед махровый — он шикарный! Всё отличного качества! Обязательно к вам вернусь и всем вас рекомендую!</p>
                                    <p>Спасибо огромное за ваш труд! Вы настоящие профессионалы своего дела! Всегда подскажите и расскажите! Продукция вся супер!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="review-card">
                            <div class="review-card__block-image">
                                <img src="./assets/images/human-7.jpg" class="review-card__image" alt="">
                            </div>
                            <div class="review-card__wrapper-info">
                                <div class="review-card__wrapper-info-client">
                                    <div class="review-card__block-info-client">
                                        <span class="review-card__name-client">Ирина Александровна</span>
                                        <span class="review-card__who-client">Пользователь</span>
                                    </div>
                                    <div class="review-card__block-other-info">
                                        <ul class="review-card__rating list-reset">
                                            <li class="review-card__rating-block-star active">
                                                <svg class="review-card__rating-star-icon">
                                                    <use xlink:href="./assets/icons/sprite-svg.svg#star"/>
                                                </svg>
                                            </li>
                                            <li class="review-card__rating-block-star active">
                                                <svg class="review-card__rating-star-icon">
                                                    <use xlink:href="./assets/icons/sprite-svg.svg#star"/>
                                                </svg>
                                            </li>
                                            <li class="review-card__rating-block-star active">
                                                <svg class="review-card__rating-star-icon">
                                                    <use xlink:href="./assets/icons/sprite-svg.svg#star"/>
                                                </svg>
                                            </li>
                                            <li class="review-card__rating-block-star active">
                                                <svg class="review-card__rating-star-icon">
                                                    <use xlink:href="./assets/icons/sprite-svg.svg#star"/>
                                                </svg>
                                            </li>
                                            <li class="review-card__rating-block-star">
                                                <svg class="review-card__rating-star-icon">
                                                    <use xlink:href="./assets/icons/sprite-svg.svg#star"/>
                                                </svg>
                                            </li>
                                        </ul>
                                        <span class="review-card__date">19 июля 2022</span>
                                    </div>
                                </div>
                                <div class="review-card__block-text">
                                    <p>Спасибо огромное за ваш труд! Вы настоящие профессионалы своего дела! Всегда подскажите и расскажите! Продукция вся супер! Покупаю уже не первый раз, у меня ваши подушки, одеяло, полотенца, особенно нравится плед махровый — он шикарный! Всё отличного качества! Обязательно к вам вернусь и всем вас рекомендую!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="arrows-group">
                <button type="button" class="arrow arrow--theme--light" data-section-reviews="btn-prev">
                    <svg class="arrow__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#arrow-left"/>
                    </svg>
                </button>
                <button type="button" class="arrow arrow--theme--light" data-section-reviews="btn-next">
                    <svg class="arrow__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>