<section class="section-about-company" data-section-about-company="main">
    <div class="section-about-company__banner">
        <img src="./assets/images/image-16.jpg" class="section-about-company__banner-image" alt="">
    </div>
    <div class="section-about-company__wrapper-content" data-section-about-company="wrapper-content">
        <div class="main-container max-width">
            <div class="section-about-company__wrapper-info">
                <h3 class="title title--h3 title-reset">О компании</h3>
                <div class="section-about-company__block-text-info">
                    <p>Мы занимаемся оснащением отелей и иных средств размещения. Разрабатываем дизайн проекты и планировочные решения для номеров любой категории</p>
                    <p>Каждый реализованный нами проект — это не просто воплощение идеи и красивой картинки, это симбиоз дизайна, эстетики, технологий, функциональности и комфорта</p>
                    <p>Наша глобальная миссия — это поднять качество туризма в России на новый уровень, за счёт продуманной и удобной комплектации отелей</p>
                </div>
            </div>
        </div>
        <div class="section-about-company__wrapper-numbers" data-section-about-company="wrapper-numbers">
            <div class="section-about-company__block-info-number">
                <span class="section-about-company__number">25</span>
                <span class="section-about-company__subtitle-info-number">Городов</span>
            </div>
            <div class="section-about-company__block-info-number">
                <span class="section-about-company__number">84</span>
                <span class="section-about-company__subtitle-info-number">Реализованных объектов</span>
            </div>
            <div class="section-about-company__block-info-number">
                <span class="section-about-company__number">6000</span>
                <span class="section-about-company__subtitle-info-number">Номеров под ключ</span>
            </div>
        </div>
    </div>
</section>