<section class="section-reviews">
    <div class="main-container max-width">
        <div class="block-title">
            <div class="block-title__header">
                <h2 class="title title--h2 title-reset">Отзывы</h2>
            </div>
            <div class="block-title__content">
                <ul class="block-title__list list-reset">
                    <li class="block-title__li active">
                        <div class="block-title__block-text-li">
                            <span>01</span>
                            <span>Клиенты</span>
                        </div>
                    </li>
                    <li class="block-title__li">
                        <div class="block-title__block-text-li">
                            <span>02</span>
                            <span>Партнёры</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>