<section class="service">
    <div class="service__wrapper-banner">
        <div class="service__block-image wow animate__fadeIn" data-wow-duration="0.7s">
            <img src="./assets/images/image-13.jpg" class="service__image" alt="">
        </div>
        <div class="service__banner-content main-container max-width">
            <h3 class="title title--h3 title-reset wow animate__fadeInUp" data-wow-duration="0.7s">Аудит объекта</h3>
            <span class="service__banner-description wow animate__fadeInUp" data-wow-duration="1s">
                Анализ объекта размещения на первых этапах строительства и устранение часто допускаемых ошибок
            </span>
        </div>
    </div>
    <div class="service__wrapper-info wow animate__fadeInUp" data-wow-duration="1s">
        <div class="main-container max-width">
            <div class="service__wrapper-info-blocks">
                <div class="service__info-block">
                    <p>
                        Первое, с чего начнём работу — это анализ проекта планируемого здания или уже существующего объекта размещения на первых этапах строительства и устранение часто допускаемых ошибок.
                    </p>
                    <p><b>Аудит по объекту</b></p>
                    <p>
                        <span>Отталкиваясь от запроса и пожеланий о конечном результате, звёздности объекта и его целевой аудитории мы проводим анализ проектной документации и площади пространства. </span>
                    </p>
                    <p>
                        <span>Проведя анализ мы дорабатываем проект номерного фонда, по которому в дальнейшем будет осуществляться строительство объекта. В результате наша работа увеличит срок эксплуатации и снизит срок окупаемости.</span>
                    </p>
                </div>
                <div class="service__info-block">
                    <p><b>Аудит по объекту</b></p>
                    <p>
                        <span>Выезжаем на объект, проводим анализ, делаем замеры, помогаем с черновой отделкой.</span>
                    </p>
                    <p>
                        <span>Для проведения качественной проверки и сбора данных, штатные специалисты лично выезжают на объект, используя в своей работе подготовленный чек-лист, по которому проводится анализ.</span> 
                    </p>
                    <p>
                        <span>По завершению аудита собственник получает документ, содержащий в себе описание корректировок и ошибок которые исправить обязательно, а какие желательно. В результате у вас остаётся документ, со всеми необходимыми корректировками и понимание, как построить объект снизив затраты и сделав номера прибыльнее.</span>
                    </p>
                </div>
            </div>
            <a href="" class="btn btn--size--lg btn--theme--primary" data-hystmodal="#form">
                <span class="btn__text">Бесплатная консультация</span>
            </a>
        </div>
    </div>
</section>