<section class="services" data-main-slider="main-slider" data-services="main">
    <div class="main-container max-width">
        <div class="services__block-header wow animate__fadeInUp" data-wow-duration="0.7s">
            <h3 class="title title--h3 title-reset">Наши услуги</h3>
            <div class="arrows-group arrows-group--horizontal">
                <button type="button" class="arrow arrow--theme--light" data-main-slider="btnPrev">
                    <svg class="arrow__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#arrow-left"/>
                    </svg>
                </button>
                <button type="button" class="arrow arrow--theme--light" data-main-slider="btnNext">
                    <svg class="arrow__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="main-slider main-slider--line-top wow animate__fadeInRight" data-wow-duration="1s">
        <div class="swiper main-slider__slider" data-main-slider="slider" data-main-slider-effect="slide">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-main-slider="slide">
                    <div class="main-slider__block-image" data-main-slider="block-image">
                        <img src="./assets/images/image-1.jpg" class="main-slider__image swiper-lazy" alt="">
                    </div>
                    <div class="main-slider__wrapper-info">
                        <div class="main-slider__block-info">
                            <div class="services__block-number-slide">
                                <span class="services__number-slide">1</span>
                            </div>
                            <span class="main-slider__title-slide">Аудит объекта</span>
                            <span class="main-slider__subtitle-slide">Анализ объекта размещения на первых этапах строительства и устранение часто допускаемых ошибок.</span>
                            <a href="#" class="btn btn--size--sm btn--theme--primary">
                                <span class="btn__text">Подробнее</span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
                <div class="swiper-slide" data-main-slider="slide">
                    <div class="main-slider__block-image" data-main-slider="block-image">
                        <img src="./assets/images/image-2.jpg" class="main-slider__image swiper-lazy" alt="">
                    </div>
                    <div class="main-slider__wrapper-info">
                        <div class="main-slider__block-info">
                            <div class="services__block-number-slide">
                                <span class="services__number-slide">2</span>
                            </div>
                            <span class="main-slider__title-slide">Аудит объекта</span>
                            <span class="main-slider__subtitle-slide">Анализ объекта размещения на первых этапах строительства и устранение часто допускаемых ошибок.</span>
                            <a href="#" class="btn btn--size--sm btn--theme--primary">
                                <span class="btn__text">Подробнее</span>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination" data-main-slider="pagination"></div>
    </div>
</section>