<div class="simple-slider" data-simple-slider="main">
    <div class="simple-slider__wrapper-slider">
        <div class="swiper simple-slider__slider" data-simple-slider="slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="simple-slider__block-image">
                        <img src="./assets/images/image-11.jpg" class="simple-slider__image" alt="">
                    </div>
                    <h3 class="title title--h3 title-reset">Marva hotel</h3>
                </div>
                <div class="swiper-slide">
                    <div class="simple-slider__block-image">
                        <img src="./assets/images/image-11.jpg" class="simple-slider__image" alt="">
                    </div>
                    <h3 class="title title--h3 title-reset">Marva hotel</h3>
                </div>
            </div>
        </div>
        <div class="arrows-group">
            <button type="button" class="arrow arrow--theme--light" data-simple-slider="btn-prev">
                <svg class="arrow__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#arrow-left"/>
                </svg>
            </button>
            <button type="button" class="arrow arrow--theme--light" data-simple-slider="btn-next">
                <svg class="arrow__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#arrow-right"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="simple-slider__block-content">
        <a href="#" class="link link--theme--dark link-reset" data-hystmodal="#price-catalog">
            <span class="link__name">Хочу похожий интерьер</span>
            <svg class="link__icon">
                <use xlink:href="./assets/icons/sprite-svg.svg#big-arrow-right"/>
            </svg>
        </a>
    </div>
</div>