<div class="social-network">
    <ul class="social-network__list list-reset">
        <li class="social-network__li">
            <a href="#" class="social-network__link">
                <svg class="social-network__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#telegram"/>
                </svg>
            </a>
        </li>
        <li class="social-network__li">
            <a href="#" class="social-network__link">
                <svg class="social-network__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#YouTube"/>
                </svg>
            </a>
        </li>
        <li class="social-network__li">
            <a href="#" class="social-network__link">
                <svg class="social-network__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#yandexZen"/>
                </svg>
            </a>
        </li>
        <li class="social-network__li">
            <a href="#" class="social-network__link">
                <svg class="social-network__icon">
                    <use xlink:href="./assets/icons/sprite-svg.svg#vk"/>
                </svg>
            </a>
        </li>
    </ul>
</div>