<section class="why-we">
    <div class="why-we__wrapper-top-content">
        <div class="why-we__decore-block"></div>
        <div class="why-we__decore-block-image">
            <img src="./assets/images/image-3.jpg" class="why-we__decore-image" alt="">
        </div>
        <div class="main-container max-width">
            <div class="why-we__wrapper-content">
                <h3 class="title title--h3 title-reset">Почему нам довеяют сложные и дорогие проекты?</h3>
                <div class="why-we__block-description">
                    <p>
                        <b>Работаем «ПОД КЛЮЧ»</b>
                    </p>
                    <p>
                        Оказываем полный цикл услуг по разработке дизайн проектов и планировочных решений для номеров любой категории
                    </p>
                </div>
                <a href="#" class="link link--theme--dark link-reset">
                    <span class="link__name">Бесплатная консультация</span>
                    <svg class="link__icon">
                        <use xlink:href="./assets/icons/sprite-svg.svg#big-arrow-right"/>
                    </svg>
                </a>
            </div>
            <div class="why-we__block-slogan">
                <span>Про Отель</span>
                <span>Мы работаем — вы отдыхаете</span>
            </div>
        </div>
    </div>
    <div class="why-we__wrapper-bottom-content">
        <div class="main-container max-width">
            <div class="why-we__block-item">
                <span class="why-we__item-title">Профессиональная <br> команда</span>
                <span class="why-we__item-description">Многочисленные истории успеха в 25 <br> городах, 84 объектах и более 6000 номеров</span>
            </div>
            <div class="why-we__block-item">
                <span class="why-we__item-title">Прозрачная <br> система работ</span>
                <span class="why-we__item-description">Мы открыты и не боимся делиться опытом, повышая уровень знаний наших клинетов</span>
            </div>
            <div class="why-we__block-item">
                <span class="why-we__item-title">Профессиональное <br> оснащение</span>
                <span class="why-we__item-description">В проектировании номеров мы используем энергосберегающие технологии, негорючий материалы и антивандальные решения</span>
            </div>
            <div class="why-we__block-item">
                <span class="why-we__item-title">Полное погружение <br> в историю клиента</span>
                <span class="why-we__item-description">Мы учитываем все важные факторы, от квадротуры до целевой аудитории и тенденции рынка</span>
            </div>
            <div class="why-we__block-item">
                <span class="why-we__item-title">Сопровождение <br> на каждом этапе работы</span>
                <span class="why-we__item-description">Наши специалисты всегда на связи. Контролируем процесс на каждом этапе работ</span>
            </div>
            <div class="why-we__block-item">
                <span class="why-we__item-title">Успех клиентов <br> — это и наш успех</span>
                <span class="why-we__item-description">Создаём комфортное пространство для туристов и помогаем отельерам получить максимальную прибыль</span>
            </div>
        </div>
    </div>
</section>