@media screen and (max-width: 1800px) {
    .why-we {
        &__decore-block {
            width: 20%;
        }
    }

    .geography-objects {
        &__decore-block {
            width: 20%;
        }

        &__block-map {
            width: 80%;
        }
    }
}