<header class="header" data-header="header">
    <div class="main-container max-width">
        <nav class="header__nav">
            <ul class="header__nav-list list-reset">
                <li class="header__nav-li">
                    <div class="header__nav-block-link">
                        <a href="#" class="header__nav-link link-decore-line link-reset">Проекты</a>
                    </div>
                    <div class="header__wrapper-nav-list-second">
                        <ul class="header__nav-list-second list-reset">
                            <li class="header__nav-li-second">
                                <a href="#" class="header__nav-link-second link-reset">Проекты</a>
                            </li>
                            <li class="header__nav-li-second">
                                <a href="#" class="header__nav-link-second link-reset">Визуализация</a>
                            </li>
                            <li class="header__nav-li-second">
                                <a href="#" class="header__nav-link-second link-reset">Готовые решения</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="header__nav-li">
                    <div class="header__nav-block-link">
                        <a href="#" class="header__nav-link link-decore-line link-reset">Услуги</a>
                    </div>
                </li>
                <li class="header__nav-li">
                    <div class="header__nav-block-link">
                        <a href="#" class="header__nav-link link-decore-line link-reset">О нас</a>
                    </div>
                    <div class="header__wrapper-nav-list-second">
                        <ul class="header__nav-list-second list-reset">
                            <li class="header__nav-li-second">
                                <a href="#" class="header__nav-link-second link-reset">О компании</a>
                            </li>
                            <li class="header__nav-li-second">
                                <a href="#" class="header__nav-link-second link-reset">Блог</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="header__nav-li">
                    <div class="header__nav-block-link">
                        <a href="#" class="header__nav-link link-decore-line link-reset">Отзывы</a>
                    </div>
                </li>
                <li class="header__nav-li">
                    <div class="header__nav-block-link">
                        <a href="#" class="header__nav-link link-decore-line link-reset">Контакты</a>
                    </div>
                </li>
                <li class="header__nav-li">
                    <div class="header__nav-block-link">
                        <a href="#" class="header__nav-link link-decore-line link-reset">Партнёры</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="header__block-contacts">
            <a href="tel:79397826864" class="header__phone link-decore-line link-reset">+7 939 782-68-64</a>
            <a href="#" class="btn btn--size--sm btn--theme--primary">
                <span class="btn__text">Заказать проект</span>
            </a>
        </div>
        <a href="#" class="logo">
            <img src="./assets/images/logo-dark.svg" class="logo__icon" alt="">
        </a>
    </div>
</header>