// Colors

$main-color: #707378;

$color-1: #30373F;
$color-2: #fff;
$color-3: #1A1E23;
$color-4: #F9D8AE;
$color-5: #ECEEF0;
$color-6: #22272D;
$color-7: #444A51;
$color-8: #6E7379;
$color-9: #4D4B46;
$color-10: #E3E3E3;
$color-11: #C1C3C5;
$color-12: #EB5757;
$color-13: #FBC741;

// Fonts

$main-font: 'Lato';
$secondary-font: 'Playfair Display';

// Other

$transition-time: 0.3s;

$maxWidth: 1920;